# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/

# ===================================== #
# Visual Studio / Rider / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userosscache
/*.pidb
/*.booproj
/*.svd
/*.pdb

# Rider specific #
.idea/

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db

